{%- comment -%}
  © BlockyApps. You are permitted to use this content within your store. Redistribution or use in any other application is strictly prohibited. 
  Unauthorized copying, distribution, or reproduction in any form will result in legal action.
{% endcomment %}

<div 
  class="blocky blocky-padding"
  style="--padding-top: {{ section.settings.padding_top }}; --padding-bottom: {{ section.settings.padding_bottom }}; --overlay_opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }}; --section-page-width: {{ section.settings.page_width | divided_by: 10 }}rem;"
>
  <div {% if section.settings.full_screen == false %}class="blocky-page-width blocky-media-hero-window"{% endif %}>
    <div class="blocky-media-hero blocky-media-hero-{{ section.settings.section_height }} blocky-media-hero-mobile-{{ section.settings.mobile_height }}" >
      <div class="blocky-media-hero-container">
        {% if section.settings.image %}
          <img
            class="blocky-image-hero-img blocky-image-{{ section.settings.image_fit }}"
            src={{ section.settings.image | image_url: width: 2040 }}
          />
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {% endif %}
      </div>
  
      <div class="blocky-media-hero-text-wrap{% if section.settings.overlay_opacity != 0 %} blocky-media-hero-text-wrap-opacity{% endif %}"> 
        <div class="blocky-page-width blocky-media-hero-text-content {{ section.settings.text_align }}">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'title' -%}
                {% render 'blocky-lys-title', block: block %}
              {%- when 'body' -%}
                {% render 'blocky-lys-body', block: block %}
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                  <div>
                    {% render 'blocky-lys-button', block: block %}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "BKY - Image Embed",
  "disabled_on": {"groups": [ "header", "footer" ]},
  "settings": [
    {
       "type": "image_picker",
       "id": "image",
       "label": "Background Image",
    },
    
    {
      "type": "header",
      "content": "Image sizing"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Desktop height",
      "default": "650px",
      "options": [
        {
          "label": "450px",
          "value": "450px"
        },
        {
          "label": "550px",
          "value": "550px"
        },
        {
          "label": "650px",
          "value": "650px"
        },
        {
          "label": "750px",
          "value": "750px"
        },
        {
          "label": "Full-Screen",
          "value": "100vh"
        }
      ]
    },   
    {
      "type": "select",
      "id": "mobile_height",
      "label": "Mobile Height",
      "default": "300px",
      "options": [
        {
          "label": "250px",
          "value": "250px"
        },
        {
          "label": "300px",
          "value": "300px"
        },
        {
          "label": "400px",
          "value": "400px"
        },
        {
          "label": "500px",
          "value": "500px"
        },
        {
          "label": "Full-Screen",
          "value": "100vh"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "cover",
          "label": "Zoomed in"
        }
      ],
      "default": "cover",
      "label": "Image fit"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Background image darkness",
      "info": "Lower the brightness of your image to make your text easier to read",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "vertical-center horizontal-center",
      "options": [
        {
          "value": "vertical-top horizontal-left",
          "label": "Top left"
        },
        {
          "value": "vertical-top horizontal-center",
          "label": "Top center"
        },
        {
          "value": "vertical-top horizontal-right",
          "label": "Top right"
        },
        {
            "value": "vertical-center horizontal-left",
            "label": "Center left"
        },
        {
          "value": "vertical-center horizontal-center",
          "label": "Center"
        },
        {
          "value": "vertical-center horizontal-right",
          "label": "Center right"
        },
        {
          "value": "vertical-bottom horizontal-left",
          "label": "Bottom left"
        },
        {
          "value": "vertical-bottom horizontal-center",
          "label": "Bottom center"
        },
        {
          "value": "vertical-bottom horizontal-right",
          "label": "Bottom right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "full_screen",
      "label": "Cover full screen",
      "default": true
    },

    {
      "type": "header",
        "content": "Section size",
    },
    {
      "type": "range",
      "id": "page_width",
      "unit": "px",
      "step": 100,
      "min": 800,
      "max": 1600,
      "default": 1200,
      "label": "Section width",
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    }
  ],    
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "<b>Image Embed</b>",
          "label": "Title",
          "info": "Leave the text blank to hide the title."
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Title size",
          "default": 60,
          "min": 30,
          "max": 100,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#000000"
        },
      ]
    },
    {
      "type": "body",
      "name": "Body",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "body_text",
          "default": "<p>Grab your customers attention with ease</p>",
          "label": "Body",
          "info": "Leave the text blank to hide the body."
        },
        {
          "type": "color",
          "id": "body_color",
          "label": "Body color",
          "default": "#000000"
        },
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button link",
          "info": "Leave the text blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_border_radius",
          "label": "Button border radius",
          "default": "curved",
          "options": [
            {
              "value": "flat",
              "label": "Flat"
            },
            {
              "value": "curved",
              "label": "Curved"
            },
            {
              "value": "round",
              "label": "Round"
            },
            {
              "value": "extra-round",
              "label": "Extra Round"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "regular",
          "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "regular",
                "label": "Regular"
              }
          ]
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Button background color",
          "default": "#2065D1"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text color",
          "default": "#FFFFFF"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Blocky Image Embed",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "body"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}